{% extends 'base.html.twig' %}

{% block title %}TRT CONSEIL{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">TRT CONSEIL</h1>
            <p class="lead">TRT Conseil est votre application de mise en relation Recruteur-Candidat dans le domaine de l’hôtellerie et la restauration.</p>
            <hr class="my-4">
            <p>Pour accèder à notre apllication, veuillez vous inscrire</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
    </div>
{% endblock %}
